{% extends "base.html" %}


{% block content %}
    <main class="wrap">
        <section class="card" role="main" aria-labelledby="welcome-title">
            <h1 id="welcome-title">Welcome to your Dashboard</h1>
            <p>This is the main page of the dashboard.</p>
            
        

            <p>Here begin our data visuals. Notice they are interactive:</p>

            {% for graph in frames %}


            <iframe
                title="{{graph[1]}}"
                src="/dashboard/{{graph[0]}}"
                style="border:none; width:100%; height:600px;"></iframe>
            {%endfor%}
        
           
        </section>
    </main>
{% endblock %}